<!DOCTYPE html>
<html>
<head>
  <title>Account Creation Confirmation</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <h1>Account Creation Confirmation</h1>
  <p>Your account has been created with the following information:</p>
  <ul>
    <li>Company User ID: {{ company_user_id }}</li>
    <li>User ID: {{ user_id }}</li>
    <li>Company ID: {{ company_id }}</li>
    <li>User Pin: {{ user_pin }}</li>
    <li>Last Name: {{ user_last_name }}</li>
    <li>First Name: {{ user_first_name }}</li>
    <li>Email: {{ user_email }}</li>
    <li>Phone: {{ user_phone }}</li>
  </ul>
</body>
</html>
